* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

ul, ol, li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

img, video {
  vertical-align: middle;
}

input, select, textarea {
  outline: 0;
  border: none;
}

textarea {
  resize: none;
}

table {
  border-collapse: collapse;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

button {
  border: none;
}

input {
  outline: 0;
}

#wrap .header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 99;
}
#wrap .header .center {
  width: 80%;
  padding: 25px 125px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
#wrap .header .center ul {
  display: flex;
}
#wrap .header .center ul li {
  margin-left: 30px;
}
#wrap .header .center ul li a {
  padding: 5px 10px;
  border-radius: 35px;
  color: #000;
}
#wrap .header .center ul li.black a {
  background-color: #000;
  color: #fff;
}
#wrap .header .center button {
  font-size: 30px;
  background-color: transparent;
  font-weight: bold;
  font-size: 50px;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  right: 50px;
  cursor: pointer;
  display: none;
}
#wrap .header .ham {
  display: none;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}
#wrap .header .ham ul {
  display: flex;
  flex-direction: column;
  width: -moz-fit-content;
  width: fit-content;
  margin: 100px auto;
  gap: 30px;
}
#wrap .header .ham ul li a {
  color: #000;
  font-size: 30px;
  padding: 5px 10px;
  border-radius: 35px;
  color: #000;
}
#wrap .header .ham ul li.black a {
  background-color: #000;
  color: #fff;
}
#wrap .header .ham button {
  font-size: 30px;
  background-color: transparent;
  font-weight: bold;
  font-size: 50px;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  right: 50px;
  top: 0;
  cursor: pointer;
}
#wrap .main_banner {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 100px 0 50px 0;
  box-sizing: border-box;
}
#wrap .main_banner .center {
  width: 80%;
}
#wrap .main_banner .center .bg {
  color: #eee;
  font-size: 250px;
  font-weight: 400;
  position: absolute;
  bottom: 0;
  left: 30px;
  z-index: -1;
  white-space: nowrap;
}
#wrap .main_banner .center .top_line {
  margin-bottom: 200px;
}
#wrap .main_banner .center .top_line h2 {
  font-size: 130px;
  font-weight: 400;
  margin-bottom: 28px;
  line-height: 1.2;
  white-space: pre-line;
}
#wrap .main_banner .center .top_line h2::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 130px;
  background-color: #222;
  margin-left: 10px;
  transform: translateY(15px);
  animation: blink 0.5s linear 0s infinite normal backwards;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#wrap .main_banner .center .top_line h3 {
  font-size: 34px;
  color: #ccc;
}
#wrap .main_banner .center .bot_line {
  position: absolute;
  bottom: 100px;
  right: 100px;
}
#wrap .main_banner .center .bot_line h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
#wrap .main_banner .center .bot_line ul li {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
#wrap .main_banner .center .bot_line ul li span {
  font-weight: bold;
}
#wrap .container .artwork {
  display: flex;
  transition: all 0.5s;
}
#wrap .container .artwork .left_text {
  width: 50%;
}
#wrap .container .artwork .left_text .box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 50px;
  position: sticky;
  top: 0;
}
#wrap .container .artwork .left_text .box .title {
  font-size: 35px;
}
#wrap .container .artwork .left_text .box .title .num {
  font-size: 28px;
}
#wrap .container .artwork .left_text .box h2 {
  color: #222;
}
#wrap .container .artwork .left_text .box ul {
  width: 87%;
  margin: 25px 0;
}
#wrap .container .artwork .left_text .box ul li {
  color: #222;
  margin: 30px 0;
  line-height: 1.3;
}
#wrap .container .artwork .left_text .box ul li span {
  font-weight: bold;
  margin-right: 5px;
}
#wrap .container .artwork .left_text .box ul li a {
  color: #222;
}
#wrap .container .artwork .left_text .box ul li a:hover {
  text-decoration: underline;
}
#wrap .container .artwork .left_text .box .address a {
  font-size: 25px;
  color: #333;
  position: relative;
  left: 0;
  transition: all 0.5s;
  margin-right: 15px;
}
#wrap .container .artwork .left_text .box .address a::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 0;
  height: 1px;
  background: #333;
  transition: all 0.5s;
}
#wrap .container .artwork .left_text .box .address a:hover {
  left: 10px;
}
#wrap .container .artwork .left_text .box .address a:hover::after {
  width: 100%;
}
#wrap .container .artwork .right_img {
  width: 50%;
  overflow: hidden;
}
#wrap .container .artwork .right_img:hover img {
  transform: scale(1.05);
}
#wrap .container .artwork .right_img img {
  width: 100%;
  transition: all 0.5s;
}
#wrap .container .artwork.black {
  background-color: #000;
}
#wrap .container .artwork.black .box h2 {
  color: #fff;
}
#wrap .container .artwork.black .box ul li {
  color: #fff;
}
#wrap .container .artwork.black .box ul li a {
  color: #fff;
}
#wrap .container .artwork.black .box .address a {
  color: #fff;
}
#wrap .container .artwork.black .box .address a::after {
  background-color: #fff;
}
#wrap .container .contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
#wrap .container .contact .center {
  width: 80%;
}
#wrap .container .contact .center .bg {
  color: #eee;
  font-size: 224px;
  font-weight: 400;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  white-space: nowrap;
}
#wrap .container .contact .center .text_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}
#wrap .container .contact .center .text_box .contact_me {
  font-size: 130px;
  font-weight: 500;
}
#wrap .container .contact .center .text_box .context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 55%;
}
#wrap .container .contact .center .text_box .context h2 {
  font-size: 25px;
  color: #222;
  font-weight: 400;
}
#wrap .container .contact .center .text_box .context h2 span {
  font-weight: bold;
  margin-right: 10px;
}
#wrap .footer {
  background-color: #222;
  text-align: center;
  padding: 50px 0;
}
#wrap .footer p {
  color: #aaa;
  font-size: 13px;
}

@media (max-width: 1300px) {
  #wrap .header .center ul li {
    margin-left: 10px;
  }
}
@media (max-width: 1200px) {
  #wrap .header .center {
    padding: 25px 50px;
  }
  #wrap .header .center ul {
    display: none;
  }
  #wrap .header .center button {
    display: block;
  }
  #wrap .main_banner {
    min-height: 1050px;
  }
  #wrap .main_banner .center .bg {
    font-size: 250px;
  }
  #wrap .main_banner .center .top_line h2 {
    font-size: 100px;
    width: 750px;
  }
  #wrap .main_banner .center .top_line h3 {
    font-size: 25px;
  }
  #wrap .main_banner .center .bot_line {
    width: 90%;
    right: 50px;
  }
  #wrap .main_banner .center .bot_line h2 {
    font-size: 25px;
  }
  #wrap .container .artwork .left_text .box .title {
    font-size: 25px;
  }
  #wrap .container .artwork .left_text .box .title .num {
    font-size: 25px;
  }
  #wrap .container .artwork .left_text .box ul li {
    font-size: 13px;
    margin: 20px 0;
  }
  #wrap .container .artwork .left_text .box .address a {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  #wrap .header .center {
    padding: 25px 50px;
  }
  #wrap .main_banner .center .bg {
    font-size: 180px;
  }
  #wrap .main_banner .center .top_line h2 {
    font-size: 80px;
    width: 100%;
  }
  #wrap .main_banner .center .top_line h2::after {
    width: 8px;
    height: 100px;
  }
  #wrap .main_banner .center .top_line h3 {
    font-size: 20px;
  }
  #wrap .main_banner .center .bot_line {
    width: 85%;
  }
  #wrap .main_banner .center .bot_line h2 {
    font-size: 20px;
  }
  #wrap .main_banner .center .bot_line ul li {
    font-size: 14px;
  }
  #wrap .container .artwork .left_text .box .title {
    font-size: 20px;
  }
  #wrap .container .artwork .left_text .box .title .num {
    font-size: 20px;
  }
  #wrap .container .artwork .left_text .box ul li {
    font-size: 12px;
    margin: 15px 0;
  }
  #wrap .container .artwork .left_text .box .address a {
    font-size: 27px;
  }
  #wrap .container .contact .center .bg {
    font-size: 180px;
  }
  #wrap .container .contact .center .text_box .contact_me {
    font-size: 100px;
  }
  #wrap .container .contact .center .text_box .context h2 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  #wrap .main_banner {
    min-height: 750px;
  }
  #wrap .main_banner .center .bg {
    font-size: 150px;
  }
  #wrap .main_banner .center .top_line h2 {
    font-size: 40px;
    width: 100%;
  }
  #wrap .main_banner .center .top_line h2::after {
    width: 8px;
    height: 60px;
  }
  #wrap .main_banner .center .top_line h3 {
    font-size: 15px;
  }
  #wrap .main_banner .center .bot_line {
    width: 80%;
    right: 80px;
  }
  #wrap .main_banner .center .bot_line h2 {
    font-size: 15px;
  }
  #wrap .main_banner .center .bot_line ul li {
    font-size: 10px;
    margin: 10px 0;
  }
  #wrap .container .artwork .left_text .box .title {
    font-size: 15px;
  }
  #wrap .container .artwork .left_text .box .title .num {
    font-size: 15px;
  }
  #wrap .container .artwork .left_text .box ul li {
    font-size: 10px;
  }
  #wrap .container .artwork .left_text .box .address a {
    font-size: 15px;
  }
  #wrap .container .contact .center .bg {
    font-size: 150px;
  }
  #wrap .container .contact .center .text_box .contact_me {
    font-size: 80px;
  }
  #wrap .container .contact .center .text_box .context h2 {
    font-size: 15px;
  }
}
@media (max-width: 600px) {
  #wrap .container .contact .center .text_box .contact_me {
    font-size: 60px;
  }
}